@charset "UTF-8";


body{
    color: #383e45;
    font-size: 0.9rem;
    font-size: 100%;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
background-image {
    src: ("portfolio_haikei1.jpg");
}
/*
loading作成

*/
.loading_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: white;
    transition: all 0.5s
}

.loading_bg.loaded
 {
    opacity: 0;
    visibility: hidden;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 
      0 0 0 rgb(255 0 0), 
      0 0 0 rgb(0 255 0), 
      0 0 0 rgb(0 0 255);
    font-size: 30px;
    animation: l32 1s infinite cubic-bezier(0.5,-2000,0.5,2000);
  }
  .loader:before {
    content:"Loading...";
  }
  
  @keyframes l32{
    25%,100% {
    text-shadow: 
       0.03px -0.01px 0.01px rgb(255 0 0), 
       0.02px  0.02px 0     rgb(0 255 0), 
      -0.02px  0.02px 0     rgb(0 0 255);
    }
  }

.site-title{
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}
.site-title a{
    display: block;
}
.section-title{
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
.content-title{
    font-size: 1rem;
    margin: 10px 0;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#header ul{
    display: flex;
    padding: 10px 0;
}
#header li{
    margin-left: 30px;
}
#header li a{
    color: #24292e;
}
#header li a:hover{
    opacity: 0.7;
}

#mainvisual{
    margin-bottom: 80px;
}
#mainvisual img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

#about .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#about .text{
    text-align: left;
}

#app ul{
    display: flex;
    justify-content: space-between;
}
#app li{
    width: 32%;
}
#app ul li img {
    width: 250px;
    height: 500px;
    object-fit: cover;
}

#footer{
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width: 600px){
#mainvisual img{
    height: calc(100vh-60px);
}
#about .content{
    flex-direction: column;
}
#about img{
    margin-right: 0;
}
#bicycle ul{
    flex-direction: column;
}
#bicycle li{
    width: 100%;
    margin-bottom: 30px;
}
}